  
 <!-- Añadir nuevos atributos Content 
  <div id="main-content" class="pt-30 md:pt-5 slide-left-enter" >
   
    <main class="container pb-1">
 
      <section id="dashboard" class="section dashboard-section pt-16">
        <div class="text-center mb-12">
          <h2 class="text-3xl font-bold mb-2">Panel de Administración</h2>
          <p class="text-lg text-[color:var(--text-secondary)]">Gestionar portafolio</p>
        </div>

        <div class="max-w-6xl mx-auto">
  <div id="tarjetas" class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">
          <!--formulario añadir EDUCACION (cursos, talleres)  
          <div class="card p-6 mb-8" style="border-color: aqua; border-width: 3px;">
            <h3 class="text-xl text-center font-semibold mb-4">Crear nueva educacion </h3>
            <form id="course-form" class="space-y-4">
              <div>
                <label class="block mb-2 font-medium">Título</label>
                <input type="text" class="form-input" placeholder="Nombre del curso o taller">
              </div>
              <div>
                <label class="block mb-2 font-medium">Descripción</label>
                <textarea class="form-input resize-none" rows="3" placeholder="Breve descripción del curso..."></textarea>
              </div>
              <div>
                <label class="block mb-2 font-medium">Nivel</label>
                <!--añadir opcion multiple de nivel

              </div>
              
              
              <div>
                <label class="block mb-2 font-medium">Certificado (imagen)</label>
                <input type="file" accept=".pdf" class="form-input">
              </div>
              <button type="submit" class="btn">
                <i class="fas fa-plus-circle mr-2"></i>
                Añadir
              </button>
            </form>
          </div>
            <!--formulario añadir HERRAMIENTAS (tecnologias) 
          <div class="card p-6 mb-8" style="border-color: rgb(255, 149, 255);border-width: 3px;">
            <h3 class="text-xl text-center font-semibold mb-4">Crear nueva herramienta/tecnologia</h3>
            <form id="skill-form" class="space-y-4">
              <div>
                <label class="block mb-2 font-medium">Nombre</label>
                <input type="text" class="form-input" placeholder="Nombre de la tecnología o habilidad">
              </div>
              <div>
                <label class="block mb-2 font-medium">Nivel</label>
                <!--añadir opcion multiple de nivel

              </div>
              <div>
                <label class="block mb-2 font-medium">Tipo</label>
                añadir opcion multiple de tipo
                
              </div>
              <div>
                <label class="block mb-2 font-medium">Ícono (imagen)</label>
                <input type="text" class="form-input" placeholder="url de imagen">
              </div>
              <button type="submit" class="btn">
                <i class="fas fa-plus-circle mr-2"></i>
                Añadir 
              </button>
            </form>
          </div>
</div>

  <div id="tarjetas" class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">
         formulario añadir HABILIDADES (capacidades personales) 
 <div class="card p-6 mb-8" style="border-color: rgb(43, 255, 0);border-width: 3px;">
            <h3 class="text-xl text-center font-semibold mb-4">Crear nueva habilidad adquirida</h3>
            <form id="skill-form" class="space-y-4">
              <div>
                <label class="block mb-2 font-medium">Nombre</label>
                <input type="text" class="form-input" placeholder="autodidacta">
              </div>
          
              <button type="submit" class="btn">
                <i class="fas fa-plus-circle mr-2"></i>
                Añadir 
              </button>
            </form>
          </div>
          formulario añadir EXPERIENCIA (proyectos realizados) 
 <div class="card p-6 mb-8" style="border-color: rgb(255, 145, 0);border-width: 3px;">
            <h3 class="text-xl text-center font-semibold mb-4">Crear nueva experiencia </h3>
            <form id="course-form" class="space-y-4">
              <div>
                <label class="block mb-2 font-medium">Título</label>
                <input type="text" class="form-input" placeholder="Nombre del curso o taller">
              </div>
              <div>
                <label class="block mb-2 font-medium">Fecha</label>
                <input type="date" class="form-input">
              </div>
              <div>
                <label class="block mb-2 font-medium">Descripción</label>
                <textarea class="form-input resize-none" rows="3" placeholder="Breve descripción del curso..."></textarea>
              </div>
              <div>
                <label class="block mb-2 font-medium">Tipo Experiencia</label>
                añadir opcion multiple de tipoExperiencia

              </div>
              <div>
                <label class="block mb-2 font-medium">Tecnologia usada</label>
                añadir opcion multiple de tecnologiaUsada
                
              </div>


              <button type="submit" class="btn">
                <i class="fas fa-plus-circle mr-2"></i>
                Añadir
              </button>
            </form>
          </div>
            </div>

        </div>


      </section>
       
    </main>
  </div>-->

<!-- Seccion principal ModificarPortofolio con links a diferentes secciones-->
<div id="main-content" class="slide-left-enter">
  <main class="container pb-1">
    <section id="dashboard" class="section dashboard-section pt-40">
      
      <div class="text-center mb-20">
        <h2 >Panel de Administración Central</h2>
      </div>

      <div class="max-w-6xl mx-auto">
        <div id="tarjetas" class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">
          <!--link a EDUCACION -->
          <div class="card p-6 mb-8" style="border-color: rgb(1, 161, 161); border-width: 3px;color: #ffffff;; background-color:  rgb(4, 49, 88);">
            <h3 class="text-xl text-center font-semibold mb-6"
            routerLink="/panelEducacion">Crear/modificar EDUCACION</h3>
            
          </div>
          
          <!--link a HERRAMIENTAS -->
          <div class="card p-6 mb-8" style="border-color: rgb(177, 98, 177);border-width: 3px;color: #ffffff;; background-color:  rgb(4, 49, 88);">
            <h3 class="text-xl text-center font-semibold mb-6"
            routerLink="/panelHerramienta">Crear/modificar HERRAMIENTA</h3>
            
          </div>
        </div>

        <div id="tarjetas" class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">
          <!-- HABILIDADES  -->
          <div class="card p-6 mb-8" style="border-color: rgb(37, 167, 11);border-width: 3px; color: #ffffff;; background-color:  rgb(4, 49, 88);">
            <h3 class="text-xl text-center font-semibold mb-6"
             routerLink="/panelHabilidad">Crear/modificar HABILIDAD</h3>
           
          </div>
          
          <!--link a EXPERIENCIAS-->
          <div class="card p-6 mb-8"  style="border-color: rgb(184, 107, 7);border-width: 3px;color: #ffffff;; background-color:  rgb(4, 49, 88);">
            <h3 class="text-xl text-center font-semibold mb-6" 
            routerLink="/panelExperiencia">Crear/modificar EXPERIENCIA</h3>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>