  

<!-- Seccion principal ModificarPortofolio con links a diferentes secciones-->
<div id="main-content" class="slide-left-enter">
  <main class="container pb-1">
    <section id="dashboard" class="section dashboard-section pt-40">
      
      <div class="text-center mb-20">
        <h2 >Panel de Administración Central</h2>
      </div>

      <div class="max-w-6xl mx-auto">
        <div id="tarjetas" class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">
          <!--link a EDUCACION -->
          <div class="card p-6 mb-8" style="border-color: rgb(1, 161, 161); border-width: 3px;color: #ffffff;; background-color:  rgb(4, 49, 88);">
            <h3 class="text-xl text-center font-semibold mb-6"
            routerLink="/panelEducacion">Crear/modificar EDUCACION</h3>
            
          </div>
          
          <!--link a HERRAMIENTAS -->
          <div class="card p-6 mb-8" style="border-color: rgb(177, 98, 177);border-width: 3px;color: #ffffff;; background-color:  rgb(4, 49, 88);">
            <h3 class="text-xl text-center font-semibold mb-6"
            routerLink="/panelHerramienta">Crear/modificar HERRAMIENTA</h3>
            
          </div>
        </div>

        <div id="tarjetas" class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">
          <!-- HABILIDADES  -->
          <div class="card p-6 mb-8" style="border-color: rgb(37, 167, 11);border-width: 3px; color: #ffffff;; background-color:  rgb(4, 49, 88);">
            <h3 class="text-xl text-center font-semibold mb-6"
             routerLink="/panelHabilidad">Crear/modificar HABILIDAD</h3>
           
          </div>
          
          <!--link a EXPERIENCIAS-->
          <div class="card p-6 mb-8"  style="border-color: rgb(184, 107, 7);border-width: 3px;color: #ffffff;; background-color:  rgb(4, 49, 88);">
            <h3 class="text-xl text-center font-semibold mb-6" 
            routerLink="/panelExperiencia">Crear/modificar EXPERIENCIA</h3>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>