<!-- Main Content -->
<div id="main-content" class="pt-25 md:pt-25 slide-left-enter">

  <!-- Main Content Sections -->
  <main class="container mx-auto px-4 pb-16">

    <section id="home" class="section visible flex flex-col justify-center">
      <div class="text-center mb-1">
        <h2 class="text-3xl md:text-5xl font-bold mb-12">¡Hola! Soy Elian Kunze</h2>
        <p class="text-lg max-w-2xl mx-auto">
          Desarrollador web fullstack apasionado por aprender
          sobre las herramientas digitales y su implementacion en todo tipo de proyectos.
        </p>

        <h2 class="text-3xl md:text-5xl font-bold mb-4">Un poco sobre mi...</h2>

        <p class="text-lg max-w-2xl mx-auto">
          Soy una persona...

          <!--DEFINIR LISTA DE HABILIDADES EN TS-->
          
          <!-- etiquetas para mostras lista de habilidades blandas
                @for (car of reportes.mascota.caracteristicas; track $index) {
                <span class="badge bg-info me-1">{{car.cualidad}}</span>
                }-->

          <!-- Enlace para previsualizar en una nueva pestaña-->
          <a href="assets/BUENAS-PRACTICAS-EN-LA-PODA.pdf" target="_blank" rel="noopener noreferrer">
            Previsualizar Curriculo
          </a>
        </p>

  

        <div class="w-full flex justify-center my-8">
          <iframe src="assets/BUENAS-PRACTICAS-EN-LA-PODA.pdf"
            class="w-full max-w-4xl h-[600px] md:h-[800px] border rounded-lg shadow-lg" frameborder="0">
            Tu navegador no soporta la visualización de PDFs.
          </iframe>
          
        </div>
        <button (click)="descargarPdf()"><i class="fas fa-download mr-2"></i>Descargar Curriculo </button>

                </div>

    </section>






  </main>


</div>