#main-content{
     background-color: #1e293b;
color: white;
}


.contenedor{
  background-color: rgb(228, 227, 227);
   border-radius: 15px;
   margin:auto;
   padding: 2%;
   width: fit-content;
}
#btn-Certificado{
  background-color: #cecece;
  color: #016dda;
  font-weight:600;
  border-color: white;
}
#btn-Certificado:hover {
  background-color: rgb(255, 255, 255);
  font-weight:800;
}

#cerrarpopup{
    width:120%;
background-color: #016dda;
color: white;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-content {
  background: rgb(245, 244, 244);
  padding: 2rem; 
  border-radius: 15px;
  max-width: 1200px; 
  width: 95%; 
  max-height: 80vh; 
  height: auto; 
  text-align: left;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  animation: fadeIn 0.3s ease; 
  overflow-y: auto; /* Habilita el scroll vertical si es necesario */
  margin: 2rem auto;
  position: relative; 
}

.popup-img {
  max-width: 100%;
  max-height: 500px;
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.card {
  background: rgb(218, 217, 217);
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border: 1px solid #e5e7eb;
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}