<div id="main-content" class="slide-left-enter">
  <main class="container pb-1">
    <section id="dashboard" class="section dashboard-section pt-40">
      
      <div class="text-center mb-20">
        <h2>Gestionar HABILIDAD</h2>
      </div>

      <div class="max-w-6xl mx-auto">
        
        <div id="tarjetas" class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">
          <!--formulario añadir HABILIDADES (capacidades personales) -->
          <div class="card p-6 mb-8" style="border-color: rgb(43, 255, 0);border-width: 3px;">
            <h3 class="text-xl text-center font-semibold mb-6">Crear nueva habilidad adquirida</h3>
            <form id="skill-form" class="space-y-6">
              <div class="form-group">
                <label class="block mb-2 text-sm font-medium text-gray-700">Nombre</label>
                <input type="text" class="form-control" placeholder="Ej: Trabajo en equipo, Liderazgo, Comunicación">
              </div>
              <button type="submit" class="btn-primary w-full py-3">
                <i class="fas fa-plus-circle mr-2"></i>
                Añadir
              </button>
            </form>
          </div>
          
        </div>
      </div>
    </section>
  </main>
</div>