
   header{
   background-color: #111827;
   }
   
   #home-button:hover { 
      transform: scale(1.05); 
    }


   #contenedor{
    width: 100%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

ul {
    width: fit-content;
    background-color: rgb(36, 35, 41); 
    padding: 1%;
    border-radius: 2ch;
    border-color: #111827;
font-family: monospace;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
}
li {
    background-color: aqua;
    border-radius: 2ch; 
    margin-top: 1ch;
    margin-bottom: 1ch; 
    margin-left: 2ch; 
    margin-right: 2ch;
}
   li a abbr {
    text-decoration: none;
     color: black;
    font-weight: 600;
} 
    li :hover {
    font-weight:bolder;
    border-radius: 1ch; 

    }