
footer{
   background-color: #111827;
}

#home-button:hover, #footer-home-button:hover { 
    transform: scale(1.05); 
    }
    
#home-button:active, #footer-home-button:active { 
  transform: scale(0.98); }