footer {
  background-color: #111827;
  color: #6f859a;
}

#home-button:hover,
#footer-home-button:hover {
  transform: scale(1.05);
}

#home-button:active,
#footer-home-button:active {
  transform: scale(0.98);
}

#seccion-login{
  height: 30px; 
  width: 20%;
  padding: 0%; margin: 0 auto; position: relative;
}

#login-button {
  display: block;
  color: #111827;
  background-color: #111827;
}

#login-button:hover {
  background-color: #233763;
  opacity: 10;
  color: white
}