
 <!-- Homepage / Splash Screen -->
  <section id="homepage" class="px-4">
    <div class="text-center hovered-element">
      <h1 class="text-5xl md:text-7xl font-bold mb-4">
        <span class="text-transparent bg-clip-text bg-gradient-to-r from-blue-500 to-purple-600">Portfolio</span>
        <span class="animate-pulse">_</span>
      </h1>
      <p class="text-lg md:text-xl mb-10 text-center max-w-lg mx-auto text-opacity-90 float-animation">
        Bienvenido a mi portafolio digital donde la creatividad y la tecnología se encuentran
      </p>
      <button id="enter-button" class="btn text-lg group" routerLink="/main">
        <span> Entrar al Portafolio</span>
        <i class="fas fa-arrow-right ml-2 group-hover:ml-3 transition-all"></i>
      </button>
    </div>
  </section>
 
  